#text-food h1{
    font-size: 300px;
}
#pic1 { 
    width: 50%;
    height: 50%;
    overflow: hidden; 

} 

#pic1 img{ 
    width: 100%; 
    transition: 0.75s all ease-in-out; 
} 

#pic1:hover img { 
    transform: scale(1.25); 
} 
#pic2 { 
    width: 50%;
    height: 50%;
    overflow: hidden; 

} 

#pic2 img{ 
    width: 100%; 
    transition: 0.75s all ease-in-out; 
} 

#pic2:hover img { 
    transform: scale(1.25); 
} 

